body{
    background: linear-gradient(to top, rgb(50, 50, 50), rgb(0,0,0));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link{
    color: green;
}
a:visited{
    color: grey;
}
a:hover{
    color: orange;
}
a:active{
    color:yellow;
}

button:hover{
    background-color: rgb(168, 116, 116);
}
button:active{
    background-color: rgb(255, 204, 204);
}
/*
li:nth-child(7){
    background-color: yellow;
}
li:nth-child(even){
    background-color: rgb(0, 255, 242);
}
li:nth-child(odd){
    background-color: rgb(89, 0, 255);
}
li:nth-child(3n){
    background-color: yellow;
}
li:nth-child(3n+1){
    background-color: yellow;
}
*/

.background{
    background-image: url("Images/Space-Background-Image-8.jpg");
    background-repeat: no-repeat;  /* Non ripete l'immagine */
    background-attachment: fixed;  /* Fa si che l'immagine riempia tutto lo schermo, strechando l'immagine */
    background-position: center;   /* Centra l'immagine */
    background-size: cover;        /* Ridimensione l'immagine in base alla pagina */
}

.text{
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(255, 167, 67);
    border-radius: 10px;
    padding: 5px;

    color: rgb(230, 230, 230);
    font-family: "consolas", sans-serif;
    font-size: 18px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px solid;
    object-fit: cover;
    float: left; /* mette l'immagine a sinistra del prossimo elemento */
    margin-right: 10px;
    /*background: grey;*/
}

.titoli{
    color: rgba(70, 70, 255, 0.699);
    font-weight: bold;
    font-family: "consolas", sans-serif;
    font-size: 18px;
}

#p1{
    color: rgb(255, 255, 255);
}
#p2{
    color: rgb(200, 200, 200);
}
#p3{
    color: rgb(170, 170, 170);
}
#p4{
    color: rgb(140, 140, 140);
}
#p5{
    color: rgb(110, 110, 110);
}