body{
    background: linear-gradient(to top, rgb(50, 50, 50), rgb(0,0,0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*margin: 0px;*/
}

a:link{
    color: green;
}
a:visited{
    color: grey;
}
a:hover{
    color: orange;
}
a:active{
    color:yellow;
}

button{
    border-radius: 5px;
}
button:hover{
    background-color: rgb(168, 116, 116);
}
button:active{
    background-color: rgb(255, 204, 204);
}
/*
li:nth-child(7){
    background-color: yellow;
}
li:nth-child(even){
    background-color: rgb(0, 255, 242);
}
li:nth-child(odd){
    background-color: rgb(89, 0, 255);
}
li:nth-child(3n){
    background-color: yellow;
}
li:nth-child(3n+1){
    background-color: yellow;
}
*/

.background{
    background-image: url("Images/Space-Background-Image-8.jpg");
    background-repeat: no-repeat;  /* Non ripete l'immagine */
    background-attachment: fixed;  /* Fa si che l'immagine riempia tutto lo schermo, strechando l'immagine */
    background-position: center;   /* Centra l'immagine */
    background-size: cover;        /* Ridimensione l'immagine in base alla pagina */
}

.text{
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(255, 167, 67);
    border-radius: 10px;
    padding: 5px;

    color: rgb(230, 230, 230);
    font-family: "consolas", sans-serif;
    font-size: 18px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px /*solid gold*/;
    object-fit: cover;
    float: left; /* mette l'immagine a sinistra del prossimo elemento */
    margin-right: 10px;
    background: grey;
}

.titoli{
    text-shadow: 2px 2px 0px grey, 2px 2px 5px black;
    color: rgba(70, 70, 255, 0.699);
    font-weight: bold;
    font-family: "consolas", sans-serif;
    font-size: 18px;
}
/*
.titoli:hover{
    box-shadow: 5px 5px 5px white;
}*/
p{
    clear: both; /* clear float */
}
#p1{
    color: rgb(255, 255, 255);
}
#p2{
    color: rgb(200, 200, 200);
}
#p3{
    color: rgb(170, 170, 170);
}
#p4{
    color: rgb(140, 140, 140);
}
#p5{
    color: rgb(110, 110, 110);
}

table{
    background-color: azure;
}
th{
    background-color: gray;
    width: 100px;
}
td{
    background-color: lightslategray;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: green;

    /*
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    
    margin: 50px;
    */
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    padding: 50px;
}
#box3{
    width: 300px;
    height: 300px;
    border-radius: 1px solid;
    background: grey;
    /*
    position: relative;
    left: 250px;
    top: 250px;
    */
    position: fixed;
    top: 0px;
    right: 0px;
}
#box4{
    width: 100px;
    height: 100px;
    border-radius: 1px solid;
    background: cyan;
    position: absolute;
    top: 100px;
    left: 100px;
}
#box5{
    width: 300px;
    height: 300px;
    border-radius: 1px solid;
    background: yellow;
    position: sticky;
    top: 0px;
    bottom: 0px;
}